@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

@include respond-to(xl) {
    .page {
        flex-direction: row;

        &-row {
            &__title {
                display: none;
            }
        }
    }

    .slider {
        display: none;
    }

    .game-tabs {
        display: grid;
    }


}