/* Стили для иконки "показать пароль" */
.password-toggle-icon {
    margin-right: 18px;
    width: 24px; /* Задаём размер иконки */
    height: 24px;
    cursor: pointer;
    transition: opacity 0.2s ease; /* Плавное изменение прозрачности за 0.3 секунды */
}

/* Стили для изменения вида иконки при переключении */
.password-toggle-icon.visible {
    opacity: 0.3; /* Пример изменения стиля */
}