@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 100%;
	background-color: $bg-light;
	margin-bottom: 1rem;
	gap: 20px;

	// .header__logo

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	// .header__logo-img

	&__logo-img {}

	// .header__logo-name

	&__logo-name {
		font-size: 40px;
		font-weight: 800;

		span {
			color: $orange;
			font-size: 14px;
			margin-left: -0.8em;
		}
	}

	&__user,
	&__links {
		display: none;
	}

	&__links {
		font-size: 24px;
		gap: 20px;
	}



	&__user {
		position: relative;

		&-profile {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			border: 2px solid $orange;
			overflow: hidden;
			height: 64px;
			width: 64px;

		}

		&-profile {
			img {
				width: 100%;
				height: 100%;
			}

			span {
				font-size: 20px;
			}
		}

		&-nav {
			display: none;
			position: absolute;
			background: $bg-light;
			border-radius: 8px;
			border: 1px solid $orange;
			top: 100%;
			right: 0;
			margin-top: 4px;
			z-index: 777;



			&-item {
				display: flex;
				padding: 12px 28px;
				background: none;
				font-size: 16px;
				border-radius: 8px;
				width: 100%;
				transition: $f-transition;


				&:hover {
					background: $bg;
					opacity: 0.9;
				}

				&:active {
					background: $bg-light;
					opacity: 1;
				}
			}

			&_active {
				display: block;
			}
		}
	}
}