@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.password-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}
.password-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    opacity: 0.6;
    transition: $f-transition;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 1;
    }
}
.password-icon {
}
