@use '../utils/mixins' as *;
@use '../utils/variables' as *;


.tournaments-tabs {
	width: 100%;

	// .tournaments-tabs__header

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	// .tournaments-tabs__button

	&__button {
		width: 100%;
		background-color: $tab-dark;
		font-weight: 700;
		padding: 10px;
		transition: $f-transition;

		&_active {
			background-color: $orange;
		}

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.9;
		}
	}

	// .tournaments-tabs__content

	&__content {
		border: 1px solid $orange;
	}
}