/* Стили для контейнера ошибки */
.register-modal .error-container,
.login-modal .error-container,
.modal .error-container {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: flex-start;
    margin-left: 10px; /* Выравниваем с полем ввода */
    display: none; /* Скрыто по умолчанию */
}

/* Показываем контейнер, если есть класс .visible */
.register-modal .error-container.visible, 
.login-modal .error-container.visible,
.modal .error-container.visible {
    display: flex;
}

/* Стили для иконки ошибки */
.register-modal .error-icon, 
.login-modal .error-icon,
.modal .error-icon {
    width: 24px;
    height: 24px;
}

/* Стили для текста ошибки */
.register-modal .wrong-code-error, .register-modal .wrong-nickname-error, .register-modal .wrong-password-input-error, 
.login-modal .wrong-data-error, .modal .wrong-sfu-data-error {
    color: #F97676;
    font-family: "Roboto Flex";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.75px;
}
