/* Стили для изменения вида иконки при переключении */
.password-toggle-icon.visible {
    opacity: 0.3; /* Пример изменения стиля */
}

.password-container{
    width: 100%;
    display: flex;
}

.password-toggle-button {
  margin-left: auto;
  margin-right: 10px;
  fill: transparent;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.password-toggle-icon {
  background: transparent;
}