* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Lato", system-ui;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Lato", system-ui, sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: #161616;
  min-width: 320px;
}

h1, h2, h3, h4 {
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 40px;
}

p {
  margin-bottom: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
a:hover {
  color: #dedede;
}

button {
  color: #fff;
}

.gr-green {
  background: linear-gradient(283deg, #5EA730 -17.69%, #70B843 129.53%);
}

.gr-red {
  background: linear-gradient(283deg, #BA4848 -17.69%, #F11B1B 129.53%);
}

.gr-yellow {
  background: linear-gradient(283deg, #E4A669 -17.69%, #EE8E19 129.53%);
}

.game-tabs {
  display: none;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}
.game-tabs__item {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.game-tabs__item:hover .game-tabs__item-img {
  scale: 0.98;
  opacity: 1;
}
.game-tabs__item-img {
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  width: 100%;
  border-radius: 8px;
  opacity: 0.9;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  background-color: #1A1A1A;
  margin-bottom: 1rem;
  gap: 20px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.header__logo-name {
  font-size: 40px;
  font-weight: 800;
}
.header__logo-name span {
  color: #FB6704;
  font-size: 14px;
  margin-left: -0.8em;
}
.header__user, .header__links {
  display: none;
}
.header__links {
  font-size: 24px;
  gap: 20px;
}
.header__user {
  position: relative;
}
.header__user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid #FB6704;
  overflow: hidden;
  height: 64px;
  width: 64px;
}
.header__user-profile img {
  width: 100%;
  height: 100%;
}
.header__user-profile span {
  font-size: 20px;
}
.header__user-nav {
  display: none;
  position: absolute;
  background: #1A1A1A;
  border-radius: 8px;
  border: 1px solid #FB6704;
  top: 100%;
  right: 0;
  margin-top: 4px;
  z-index: 777;
}
.header__user-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 28px;
  background: none;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.header__user-nav-item:hover {
  background: #161616;
  opacity: 0.9;
}
.header__user-nav-item:active {
  background: #1A1A1A;
  opacity: 1;
}
.header__user-nav_active {
  display: block;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 888;
  background: -webkit-gradient(linear, left top, right top, from(rgba(22, 22, 21, 0.6)), to(rgba(24, 24, 24, 0.6)));
  background: linear-gradient(to right, rgba(22, 22, 21, 0.6), rgba(24, 24, 24, 0.6));
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  visibility: hidden;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  overflow-y: hidden;
}
.modal_active {
  visibility: visible;
}
.modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 40px 20px;
  background-color: #1A1A1A;
  border-radius: 8px;
  max-width: 448px;
  width: 100%;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 0.5);
}
.modal__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 10px;
}
.modal__signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 10px;
}
.modal__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  width: 100%;
}
.modal__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.modal__input {
  background: #161616;
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 3px;
  color: #fff;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  position: relative;
  width: 100%;
}
.modal__input.password {
  padding-right: 40px;
}
.modal__input:focus {
  border-radius: 8px;
}
.modal__error {
  color: #db3636;
}
.modal__line-title {
  font-size: 16px;
}
.modal__btn {
  background: #FB6704;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  width: 100%;
}
.modal__btn:hover {
  opacity: 0.9;
}
.modal__btn:active {
  opacity: 1;
}
.modal__register-text {
  font-size: 16px;
  text-align: center;
}
.modal__register-btn {
  font-size: 16px;
  background: none;
  color: #FB6704;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.modal__register-btn:hover {
  opacity: 0.9;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-bottom: 128px;
}

.page-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 0 14px;
}
.page-row__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.page-row__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1C1C1C;
  width: 100%;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.page-row__footer:hover {
  background: #1A1A1A;
  opacity: 0.8;
}
.page-row__footer:active {
  opacity: 1;
}
.page-row__all-link {
  padding: 10px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative;
}
.slider__page {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slider__page > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.slider__page > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.slider__page > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.slider__page > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.slider__nav-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.slider__nav-page {
  width: 14px;
  height: 14px;
  border: 1px solid #FB6704;
  border-radius: 3px;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  cursor: pointer;
}
.slider__nav-page.active {
  background-color: #FB6704;
}
.slider__items {
  overflow: hidden;
}
.slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
}
.slider__item {
  padding: 8px;
  overflow: hidden;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
}
.slider__item:hover {
  opacity: 0.8;
}
.slider__item-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.slider__nav-arrow {
  background: none;
}
.tournaments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: #1F1F1F;
}
.tournaments-item:nth-child(2n) {
  background-color: #1C1C1C;
}
.tournaments-item__name {
  width: 100%;
}
.tournaments-item__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.tournaments-item__participants {
  text-align: center;
  padding: 4px 8px;
  border-radius: 3px;
  width: 70px;
  opacity: 0.9;
}
.tournaments-item__link {
  background-color: #363636;
  border-radius: 3px;
  padding: 4px;
}
.tournaments-tabs {
  width: 100%;
}
.tournaments-tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.tournaments-tabs__button {
  width: 100%;
  background-color: #1C1C1C;
  font-weight: 700;
  padding: 10px;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.tournaments-tabs__button_active {
  background-color: #FB6704;
}
.tournaments-tabs__button:hover {
  opacity: 0.8;
}
.tournaments-tabs__button:active {
  opacity: 0.9;
}
.tournaments-tabs__content {
  border: 1px solid #FB6704;
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 777;
  bottom: 20px;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
}
.nav-mobile__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  height: 100%;
  background-color: #161616;
  border: 1px solid #FB6704;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.nav-mobile__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  padding: 16px 0;
  position: relative;
  background: none;
  cursor: pointer;
}
.nav-mobile__item_active:before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 18px;
  height: 4px;
  background-color: #FB6704;
  border-radius: 1px;
}
.nav-mobile__item:not(:last-child) {
  border-right: 1px solid gray;
}
.nav-mobile__item:hover {
  opacity: 0.8;
  background-color: #1A1A1A;
}
.nav-mobile__item:active {
  opacity: 1;
}
.nav-mobile__profile {
  border: 2px solid #FB6704;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.password-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  opacity: 0.6;
  -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  cursor: pointer;
}
.password-toggle:hover {
  opacity: 0.8;
}
.password-toggle:active {
  opacity: 1;
}

.code-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
}
.code-wrapper .modal__btn {
  width: auto;
  font-weight: normal;
}

@media (min-width: 0px) {
  .tournaments-tabs__button {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .tournaments-tabs__button {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .tournaments-tabs__button {
    font-size: 20px;
  }
  .nav-mobile {
    -webkit-transform: translate(0, 300%);
            transform: translate(0, 300%);
  }
  .page {
    padding: 0 40px;
  }
  .page-row__title h2 {
    font-size: 64px;
  }
  .tournaments-item {
    padding: 20px 10px;
  }
  .slider__nav-arrow img {
    width: 32px;
    height: 32px;
  }
  .slider__nav-page {
    width: 20px;
    height: 20px;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    height: auto;
  }
  .header__logo-name {
    width: 130px;
  }
  .header__links {
    width: 100%;
  }
  .header__user, .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page-row__title {
    display: none;
  }
  .slider {
    display: none;
  }
  .game-tabs {
    display: -ms-grid;
    display: grid;
  }
}